myenvi/

django-social-media-template/

db.sqlite3


# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django migrations
*/migrations/

# Database files
db.sqlite3
*.sqlite3

# Media and static files
media/
static/

# Django settings
*.env
*.ini
*.json

# Environment directories (virtualenv, etc.)

# PyCharm, VSCode, and other IDEs
.idea/
.vscode/

# Django secret key (optional)
secret_key.py

# Log files
*.log

# Coverage reports
.coverage
nosetests.xml
coverage.xml
*.cover

# Dependency directories
node_modules/
bower_components/

# Temporary files
*.swp
*.swo

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Operating system specific files
ehthumbs.db
Icon?
